

.curmenu select{
    appearance: none;
    outline: none;
    border: 0;
    border-bottom: solid 2px rgb(18, 18, 114);
    padding: 13px 60px 13px 0px;
    font-size: 18px;
    color: rgb(18, 18, 114);
    background-color: rgb(215, 230, 247);
    background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png") 100% / 8% no-repeat;
}
.yearlist{
    display:flex;
    /* justify-content:space-around; */
    flex-direction: column;
}
.yearlist #s_date{
    display:flex;
    
}
.yearlist #e_date{
    display:flex;
}

.yearlist select{
    appearance: none;
    outline: none;
    border: 0;
    border-bottom: solid 2px rgb(18, 18, 114);
    padding: 13px 60px 13px 0px;
    font-size: 18px;
    color: rgb(18, 18, 114);
    padding: 3px;
    background-color: rgb(215, 230, 247);
}

.view select{
    appearance: none;
    outline: none;
    border: 0;
    border-bottom: solid 2px rgb(18, 18, 114);
    padding: 13px 60px 13px 0px;
    font-size: 18px;
    color: rgb(18, 18, 114);
    padding: 3px;
    background-color: rgb(215, 230, 247);
}



* {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
      
      .chartMenu {
        width: 100vw;
        height: 40px;
        /* background: #1A1A1A; */
        color: rgb(68, 26, 255);
      }
     
      .chartCard {
        margin-top: 80px;
        width: 100vw;
        height: calc(100vh - 40px);
        /* background: rgba(25, 63, 190, 0.2); */
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .chartBox {
        width: 1000px;
    height: 660px;
        padding-top: 0%;
        margin-top: 0%;
        padding: 20px;
        border-radius: 20px;
        /* border: solid 3px rgb(0, 174, 197); */
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: rgb(215, 230, 247);
      }

      .curmenu{
        padding: 0%;
      }
      
      .yearlist{
        /* padding-right: 14%; */
        padding-top: 0%;
        bottom: 492px;
        right: 150px;
        left: 100px;
      }
